{{ 'ilja-footer-2.css' | asset_url | stylesheet_tag }}

<style>
  .footer {
    padding-top: {{section.settings.section_padding_y}}rem;
    padding-bottom: {{section.settings.section_padding_y}}rem;
  }

  .footer__inner {
    row-gap: {{section.settings.section_gap}}rem;
  }

  .footer__top {
    row-gap: {{section.settings.block_row_gap}}rem;
    column-gap: {{section.settings.block_col_gap}}rem;
  }

  .footer__bottom {
    row-gap: {{section.settings.bottom_row_gap}}rem;
  }

  .footer__block-title {
    font-size: {{section.settings.block_title_font_size}}rem;
    margin-bottom: {{section.settings.block_title_margin}}rem;
    color: {{section.settings.block_title_color}};
    font-weight: 400;

    {% if section.settings.block_title_bold %}
      font-weight: 600;
    {% endif %}
  }

  .footer__block-list {
    row-gap: {{section.settings.block_item_gap}}rem;
  }

  .footer__block-item {
    color: {{section.settings.block_item_color}};
  }

  .footer__block-link:hover {
    color: {{section.settings.block_link_color}};
    border-bottom-color: {{section.settings.block_link_color}};
  }

  .footer__block img {
    max-height: {{section.settings.image_width_mobile}}px;
  }

  .footer__social {
    column-gap: {{section.settings.social_gap}}rem;
  }

  .footer__copy {
    {% if section.settings.copyright_bold %}
      font-weight: 600;
    {% endif %}
  }

  .footer__path {
    fill-opacity: {{section.settings.path_opacity}};
  }

  .footer__path--1 {
    fill: {{section.settings.path_1_color}};
  }

  .footer__path--2 {
    fill: {{section.settings.path_2_color}};
  }

  .footer__path--3 {
    fill: {{section.settings.path_3_color}};
  }

  .footer__path--4 {
    fill: {{section.settings.path_4_color}};
  }

  .footer__path--5 {
    fill: {{section.settings.path_5_color}};
  }

  {% comment %} @media only screen and (min-width: 380px) {
    .footer {
      padding: 2rem;
    }

    .footer__inner {
      row-gap: 4rem;
    }

    .footer__top {
      row-gap: 2.5rem;
      column-gap: 1rem;
      text-align: center;
    }

    .footer__bottom {
      row-gap: 2rem;
    }

    .footer__block-title {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .footer__block-list {
      row-gap: 0.5rem;
    }

    .footer__block img {
      max-height: 140px;
    }

    .footer__social {
      column-gap: 1rem;
    }
  }

  @media only screen and (min-width: 768px) {
    .footer {
      padding: 2rem;
    }

    .footer__inner {
      row-gap: 4rem;
    }

    .footer__top {
      row-gap: 2.5rem;
      column-gap: 1rem;
      text-align: center;
    }

    .footer__bottom {
      row-gap: 2rem;
    }

    .footer__block-title {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .footer__block-list {
      row-gap: 0.5rem;
    }

    .footer__block img {
      max-height: 140px;
    }

    .footer__social {
      column-gap: 1rem;
    }
  } {% endcomment %}
</style>

<footer class="footer">
  <div class="footer__inner page-width">
    <!-- top -->
    <div class="footer__top">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'image' %}
            <!-- logo -->
            <div class="footer__block">
              {%- if block.settings.image != blank -%}
              {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
              <img
                srcset= "{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x"
                src="{{ block.settings.image | image_url: width: 400 }}"
                alt="{{ block.settings.image.alt | escape }}"
                loading="lazy"
                style="max-width: min(100%, {{ block.settings.image_width }}px);"
              >
              {%- endif -%}
            </div>
          {% when 'link_list' %}
            <!-- list -->
            <div class="footer__block">
              <h4 class="footer__block-title">{{- block.settings.heading | escape -}}</h4>
              <ul class="footer__block-list unstyle-list">
                {% for link in block.settings.menu.links %}
                  <li class="footer__block-item">
                    <a class="footer__block-link" href="{{link.url}}">{{link.title}}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% when 'list' %}
            <!-- list -->
            <div class="footer__block">
              <h4 class="footer__block-title">{{- block.settings.heading | escape -}}</h4>
              <ul class="footer__block-list unstyle-list">
                {%- if block.settings.list_item_1 != blank -%}
                  <li class="footer__block-item">{{- block.settings.list_item_1 | escape -}}</li>
                {%- endif -%}
                {%- if block.settings.list_item_2 != blank -%}
                  <li class="footer__block-item">{{- block.settings.list_item_2 | escape -}}</li>
                {%- endif -%}
                {%- if block.settings.list_item_3 != blank -%}
                  <li class="footer__block-item">{{- block.settings.list_item_3 | escape -}}</li>
                {%- endif -%}
              </ul>
            </div>
        {% endcase %}
      {% endfor %}
    </div>

    <!-- bottom -->
    <div class="footer__bottom">
      {% if section.settings.social_show %}
        <!-- social -->
        <ul class="footer__social unstyle-list">
          {%- if settings.social_facebook_link != blank -%}
            <li>
              <a href="{{ settings.social_facebook_link }}">
                {%- render 'ilja-icon-facebook-2.liquid' -%}
                <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_instagram_link != blank -%}
            <li>
              <a href="{{ settings.social_instagram_link }}">
                {%- render 'ilja-icon-instagram-2.liquid' -%}
                <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_twitter_link != blank -%}
            <li>
              <a href="{{ settings.social_twitter_link }}">
                {%- render 'icon-twitter' -%}
                <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_pinterest_link != blank -%}
            <li>
              <a href="{{ settings.social_pinterest_link }}">
                {%- render 'icon-pinterest' -%}
                <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_tiktok_link != blank -%}
            <li>
              <a href="{{ settings.social_tiktok_link }}">
                {%- render 'icon-tiktok' -%}
                <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_tumblr_link != blank -%}
            <li>
              <a href="{{ settings.social_tumblr_link }}">
                {%- render 'icon-tumblr' -%}
                <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_snapchat_link != blank -%}
            <li>
              <a href="{{ settings.social_snapchat_link }}">
                {%- render 'icon-snapchat' -%}
                <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_youtube_link != blank -%}
            <li>
              <a href="{{ settings.social_youtube_link }}">
                {%- render 'icon-youtube' -%}
                <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_vimeo_link != blank -%}
            <li>
              <a href="{{ settings.social_vimeo_link }}">
                {%- render 'icon-vimeo' -%}
                <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
              </a>
            </li>
          {%- endif -%}
        </ul>
      {% endif %}
      {% if section.settings.copyright_show %}
        <p class="footer__copy">© All rights reserved</p>
      {% endif %}
    </div>
  </div>

  <!-- bg-image -->
  <svg class="footer__bg-image footer__bg-image-md" viewBox="0 0 1400 301" xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMaxYMin slice">
    <path class="footer__path footer__path--1"
          d="M0 131.758L46.6667 116.078C93.3333 100.544 186.667 69.1833 280 75.0451C373.333 80.9069 466.667 123.991 560 119.302C653.333 114.612 746.667 62.4423 840 32.8403C933.333 3.23838 1026.67 -3.50266 1120 2.06602C1213.33 7.63471 1306.67 25.8062 1353.33 34.7454L1400 43.8312V300.284H1353.33C1306.67 300.284 1213.33 300.284 1120 300.284C1026.67 300.284 933.333 300.284 840 300.284C746.667 300.284 653.333 300.284 560 300.284C466.667 300.284 373.333 300.284 280 300.284C186.667 300.284 93.3333 300.284 46.6667 300.284H0V131.758Z" />
    <path class="footer__path footer__path--2"
          d="M0 131.758L46.6667 137.326C93.3333 143.042 186.667 154.179 280 159.894C373.333 165.463 466.667 165.463 560 170.152C653.333 174.695 746.667 184.074 840 171.032C933.333 158.136 1026.67 122.965 1120 98.0526C1213.33 73.14 1306.67 58.4856 1353.33 51.1584L1400 43.8312V300.284H1353.33C1306.67 300.284 1213.33 300.284 1120 300.284C1026.67 300.284 933.333 300.284 840 300.284C746.667 300.284 653.333 300.284 560 300.284C466.667 300.284 373.333 300.284 280 300.284C186.667 300.284 93.3333 300.284 46.6667 300.284H0V131.758Z" />
    <path class="footer__path footer__path--3"
          d="M0 89.2599L46.6667 106.552C93.3333 123.991 186.667 158.575 280 160.334C373.333 162.092 466.667 130.732 560 124.87C653.333 119.008 746.667 138.645 840 143.921C933.333 149.343 1026.67 140.55 1120 146.119C1213.33 151.834 1306.67 171.764 1353.33 181.876L1400 191.841V300.284H1353.33C1306.67 300.284 1213.33 300.284 1120 300.284C1026.67 300.284 933.333 300.284 840 300.284C746.667 300.284 653.333 300.284 560 300.284C466.667 300.284 373.333 300.284 280 300.284C186.667 300.284 93.3333 300.284 46.6667 300.284H0V89.2599Z" />
    <path class="footer__path footer__path--4"
          d="M0 147.878L46.6667 147.585C93.3333 147.438 186.667 146.852 280 164.73C373.333 182.609 466.667 218.659 560 226.719C653.333 234.778 746.667 214.848 840 192.574C933.333 170.299 1026.67 145.973 1120 145.68C1213.33 145.386 1306.67 169.42 1353.33 181.29L1400 193.306V300.284H1353.33C1306.67 300.284 1213.33 300.284 1120 300.284C1026.67 300.284 933.333 300.284 840 300.284C746.667 300.284 653.333 300.284 560 300.284C466.667 300.284 373.333 300.284 280 300.284C186.667 300.284 93.3333 300.284 46.6667 300.284H0V147.878Z" />
    <path class="footer__path footer__path--5"
          d="M0 256.32L46.6667 254.415C93.3333 252.364 186.667 248.554 280 242.838C373.333 237.27 466.667 229.942 560 231.408C653.333 232.873 746.667 243.132 840 253.683C933.333 264.087 1026.67 274.932 1120 274.639C1213.33 274.345 1306.67 263.208 1353.33 257.493L1400 251.924V300.284H1353.33C1306.67 300.284 1213.33 300.284 1120 300.284C1026.67 300.284 933.333 300.284 840 300.284C746.667 300.284 653.333 300.284 560 300.284C466.667 300.284 373.333 300.284 280 300.284C186.667 300.284 93.3333 300.284 46.6667 300.284H0V256.32Z" />
  </svg>
  <!-- bg image xl -->
  <svg class="footer__bg-image footer__bg-image--xl" viewBox="0 0 2400 300" xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMaxYMin slice">
    <path class="footer__path footer__path--1"
          d="M0 131.474L80 115.794C160 100.26 320 68.8995 480 74.7613C640 80.623 800 123.707 960 119.018C1120 114.328 1280 62.1585 1440 32.5565C1600 2.95456 1760 -3.78647 1920 1.78221C2080 7.3509 2240 25.5224 2320 34.4616L2400 43.5474V300H2320C2240 300 2080 300 1920 300C1760 300 1600 300 1440 300C1280 300 1120 300 960 300C800 300 640 300 480 300C320 300 160 300 80 300H0V131.474Z" />
    <path class="footer__path footer__path--2"
          d="M0 131.474L80 137.043C160 142.758 320 153.895 480 159.611C640 165.179 800 165.179 960 169.869C1120 174.411 1280 183.79 1440 170.748C1600 157.852 1760 122.681 1920 97.7688C2080 72.8562 2240 58.2018 2320 50.8746L2400 43.5474V300H2320C2240 300 2080 300 1920 300C1760 300 1600 300 1440 300C1280 300 1120 300 960 300C800 300 640 300 480 300C320 300 160 300 80 300H0V131.474Z" />
    <path class="footer__path footer__path--3"
          d="M0 88.9762L80 106.268C160 123.707 320 158.292 480 160.05C640 161.809 800 130.448 960 124.586C1120 118.725 1280 138.362 1440 143.637C1600 149.059 1760 140.267 1920 145.835C2080 151.551 2240 171.481 2320 181.592L2400 191.557V300H2320C2240 300 2080 300 1920 300C1760 300 1600 300 1440 300C1280 300 1120 300 960 300C800 300 640 300 480 300C320 300 160 300 80 300H0V88.9762Z" />
    <path class="footer__path footer__path--4"
          d="M0 147.594L80 147.301C160 147.154 320 146.568 480 164.446C640 182.325 800 218.375 960 226.435C1120 234.495 1280 214.565 1440 192.29C1600 170.015 1760 145.689 1920 145.396C2080 145.103 2240 169.136 2320 181.006L2400 193.023V300H2320C2240 300 2080 300 1920 300C1760 300 1600 300 1440 300C1280 300 1120 300 960 300C800 300 640 300 480 300C320 300 160 300 80 300H0V147.594Z" />
    <path class="footer__path footer__path--5"
          d="M0 256.037L80 254.132C160 252.08 320 248.27 480 242.555C640 236.986 800 229.659 960 231.124C1120 232.59 1280 242.848 1440 253.399C1600 263.804 1760 274.648 1920 274.355C2080 274.062 2240 262.924 2320 257.209L2400 251.64V300H2320C2240 300 2080 300 1920 300C1760 300 1600 300 1440 300C1280 300 1120 300 960 300C800 300 640 300 480 300C320 300 160 300 80 300H0V256.037Z" />
  </svg>

</footer>

{%- comment -%}
TOP LEVEL SETTINGS STRUCTURE : Use 'ctrl + f' and search -> "type": "header", to navigate sections

Settings :
  - Bold 
  - Border Radius 
  - Colors 
  - Font Sizing 
  - Gap Spacing
  - Line Heights
  - Margin
  - Padding
  - Show
  - Title
  - Widths

Blocks :
  - Image
  - Link List
  - List

{%- endcomment -%}

{% schema %}
  {
    "name": "footer",
    "presets": [
      {
        "name" : "Footer 2 (Ilja)"
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "Bold settings"
      },
      {
        "type": "checkbox",
        "id": "copyright_bold",
        "label": "Bold copyright?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "block_title_bold",
        "label": "Bold block titles?",
        "default": false
      },
      {
        "type": "header",
        "content": "Color settings"
      },
      {
        "type": "color",
        "id": "block_item_color",
        "label": "Color for block items",
        "default": "#7e7e7e"
      },
      {
        "type": "color",
        "id": "block_link_color",
        "label": "Color for links on hover",
        "default": "#587d71"
      },
      {
        "type": "color",
        "id": "block_title_color",
        "label": "Color for Block Titles",
        "default": "#7d6757"
      },
      {
        "type": "color",
        "id": "path_1_color",
        "label": "Color for path 1 of background graphic",
        "default": "#a2573a"
      },
      {
        "type": "color",
        "id": "path_2_color",
        "label": "Color for path 2 of background graphic",
        "default": "#935036"
      },
      {
        "type": "color",
        "id": "path_3_color",
        "label": "Color for path 3 of background graphic",
        "default": "#854932"
      },
      {
        "type": "color",
        "id": "path_4_color",
        "label": "Color for path 4 of background graphic",
        "default": "#77422e"
      },
      {
        "type": "color",
        "id": "path_5_color",
        "label": "Color for path 5 of background graphic",
        "default": "#693b2a"
      },
      {
        "type": "header",
        "content": "Font sizing settings"
      },
      {
        "type": "range",
        "id": "block_title_font_size",
        "min": 1.6,
        "max": 8,
        "step": 0.2,
        "unit": "rem",
        "label": "Font size for block titles",
        "default": 3.2
      },
      {
        "type": "header",
        "content": "Gap sizing settings"
      },
      {
        "type": "range",
        "id": "block_col_gap",
        "min": 0.5,
        "max": 10,
        "step": 0.5,
        "unit": "rem",
        "label": "Gap between block columns",
        "default": 4
      },
      {
        "type": "range",
        "id": "block_item_gap",
        "min": 0.4,
        "max": 6,
        "step": 0.2,
        "unit": "rem",
        "label": "Gap between block item rows",
        "default": 0.8
      },
      {
        "type": "range",
        "id": "block_row_gap",
        "min": 0.5,
        "max": 10,
        "step": 0.5,
        "unit": "rem",
        "label": "Gap between block rows",
        "default": 4
      },
      {
        "type": "range",
        "id": "bottom_row_gap",
        "min": 0.5,
        "max": 10,
        "step": 0.5,
        "unit": "rem",
        "label": "Gap between footer bottom rows",
        "default": 3.5
      },
      {
        "type": "range",
        "id": "section_gap",
        "min": 0.5,
        "max": 10,
        "step": 0.5,
        "unit": "rem",
        "label": "Gap between top & bottom sections",
        "default": 6.5
      },
      {
        "type": "range",
        "id": "social_gap",
        "min": 0.2,
        "max": 5,
        "step": 0.2,
        "unit": "rem",
        "label": "Gap between social icons",
        "default": 1.6
      },
      {
        "type": "header",
        "content": "Margin settings"
      },
      {
        "type": "header",
        "content": "Opacity settings"
      },
      {
        "type": "range",
        "id": "path_opacity",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "Opacity of background graphic",
        "default": 0.2
      },
      {
        "type": "header",
        "content": "Padding settings"
      },
      {
        "type": "range",
        "id": "block_title_margin",
        "min": 0,
        "max": 8,
        "step": 0.2,
        "unit": "rem",
        "label": "Maargin bottom for block titles",
        "default": 1.6
      },
      {
        "type": "range",
        "id": "section_padding_y",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Vertical section padding",
        "default": 6
      },
      {
        "type": "header",
        "content": "Show settings"
      },
      {
        "type": "checkbox",
        "id": "social_show",
        "label": "Show social icons?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "copyright_show",
        "label": "Show copyright?",
        "default": false
      },
      {
        "type": "header",
        "content": "Width settings"
      },
      {
        "type": "range",
        "id": "image_width_desktop",
        "min": 50,
        "max": 200,
        "step": 5,
        "unit": "px",
        "label": "Image Width Desktop",
        "default": 100
      },
      {
        "type": "range",
        "id": "image_width_mobile",
        "min": 50,
        "max": 200,
        "step": 5,
        "unit": "px",
        "label": "Image Width Mobile",
        "default": 100
      }
    ],
    "max_blocks": 10,
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            }
          ]
      },
      {
        "type": "link_list",
        "name": "t:sections.footer.blocks.link_list.name",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Quick links",
            "label": "t:sections.footer.blocks.link_list.settings.heading.label",
            "info": "t:sections.footer.blocks.link_list.settings.heading.info"
          },
          {
            "type": "link_list",
            "id": "menu",
            "default": "footer",
            "label": "t:sections.footer.blocks.link_list.settings.menu.label",
            "info": "t:sections.footer.blocks.link_list.settings.menu.info"
          }
        ]
      },
      {
        "type": "list",
        "name": "List",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Contact"
          },
          {
            "type": "text",
            "id": "list_item_1",
            "label": "List Item"
          },
          {
            "type": "text",
            "id": "list_item_2",
            "label": "List Item"
          },
          {
            "type": "text",
            "id": "list_item_3",
            "label": "List Item"
          }
        ]
      }
    ]
  }
{% endschema %}
